$primary-color: #444;
$secondary-color: green;

$show-home-image: true;
$home-image: url(../dist/img/background.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 1.5s ease-out;
}

@mixin background {
  &#bg-img {
    background-image: url(../dist/img/background.jpg);
    background-attachment: fixed;
    background-size: cover;

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      z-index: -1;
      height: 100%;
      background: rgba($primary-color, $background-opacity);
    }
  }
}

// Set Text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

//media query mixing
@mixin mediaSm {
  @media only screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media only screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media only screen and (min-width: 1171px) {
    @content;
  }
}
